<div class="comment clearfix">
  <div class="comment_content">
    <p class="comment_name">Nom du prospect :</p>
    <p class="comment_body"><%= prospect.full_name %></p><br>

    <p class="comment_name">Email :</p>
    <p class="comment_body"><%= prospect.email %></p><br>

  </div>
  <br>
  </p>


</div>
